﻿<html>
<head>
    <meta charset="utf-8" />
    <title>Full Plate</title>
    <meta name="description" content=""/>
    <link href="//fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Hind:400,300,500,600,700" rel="stylesheet" type="text/css"/>

    <link href="~/Content/styles/site-styles.css" rel="stylesheet" type="text/css"/>

</head>
<body>
    <div id="main"></div>
    <script src="http://fb.me/react-0.13.1.js"></script>  
    <script src="../../Scripts/src/main.jsx"></script>
</body>
</html>