.field-holder:after, .page-frame:after, .notification:after, .restaurant-and-payment-info:after, .restaurants-info-edit-fields:after, .course-form:after, .course-form .course-option-wrapper:after, .table-information:after, .additional-order-form:after, .sitemap-legend:after {
  content: '';
  display: table;
  clear: both; }

.icon-green-plus:before, .icon-red-plus:before, .icon-white-plus:before, .icon-white-tick:before, .icon-dash-red:before, .icon-dash-white:before, .icon-dropdown-dark:before, .icon-filter-arrow-table:before, .icon-filter-arrow-select:before, .icon-notification-cross:before, .icon-notification-exclamation:before, .icon-notification-tick:before, .btn-small.dropdown:hover .icon-dropdown-dark:before, .dropdown.btn-primary-small:hover .icon-dropdown-dark:before, .dropdown.btn-secondary-small:hover .icon-dropdown-dark:before, .dropdown.btn-alternative-small:hover .icon-dropdown-dark:before {
  display: inline-block;
  background-image: url('images/sprite.svg');
  background-size: 188px 126px;
  background-repeat: no-repeat; }

.ie8 .icon-green-plus:before, .ie8 .icon-red-plus:before, .ie8 .icon-white-plus:before, .ie8 .icon-white-tick:before, .ie8 .icon-dash-red:before, .ie8 .icon-dash-white:before, .ie8 .icon-dropdown-dark:before, .ie8 .icon-filter-arrow-table:before, .ie8 .icon-filter-arrow-select:before, .ie8 .icon-notification-cross:before, .ie8 .icon-notification-exclamation:before, .ie8 .icon-notification-tick:before, .ie8 .btn-small.dropdown:hover .icon-dropdown-dark:before, .ie8 .dropdown.btn-primary-small:hover .icon-dropdown-dark:before, .ie8 .dropdown.btn-secondary-small:hover .icon-dropdown-dark:before, .ie8 .dropdown.btn-alternative-small:hover .icon-dropdown-dark:before {
  background-image: url('images/sprite.png'); }

table {
  width: 980px;
  border-collapse: collapse;
  float: left;
  margin-top: 20px; }
  table .table-headings {
    font-family: 'Hind', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    height: 27px; }
    table .table-headings th {
      font-weight: normal;
      padding: 0; }
      table .table-headings th sup {
        font-size: 8px; }
      table .table-headings th:first-child span {
        float: left;
        padding-left: 10px; }
      table .table-headings th:first-child .icon-filter-arrow-table {
        padding-left: 0; }
      table .table-headings th .icon-filter-arrow-table {
        float: left;
        padding-left: 20px; }
  table .data-price {
    width: 92px;
    font-weight: bold;
    font-size: 16px; }
    table .data-price span {
      font-weight: bold; }
  table tr {
    border-top: 1px solid #B3B3B3; }
    table tr:last-child {
      border-bottom: 1px solid #B3B3B3; }
    table tr td {
      text-align: center;
      position: relative;
      padding: 12px 0;
      color: #4D4D4D; }
      table tr td .cell-align-left-padding {
        float: left;
        margin-left: 20px; }
    table tr .data-price {
      color: #000000;
      font-family: 'Hind', sans-serif; }
      table tr .data-price span {
        font-weight: 600; }
    table tr td:before {
      content: '';
      position: absolute;
      display: block;
      border-left: 1px solid #999999;
      border-right: 1px solid #999999;
      width: 2px;
      height: 8px;
      top: 50%;
      margin: -4px 0 0 -2px; }
    table tr td:first-child:before {
      content: none; }
    table tr td:first-child span {
      float: left; }
  table .input {
    height: 35px;
    background-color: #f2f2f2;
    border: 1px solid #B3B3B3; }

[disabled] {
  cursor: not-allowed; }

label {
  display: block;
  margin-top: 25px;
  font-weight: 500;
  font-family: 'Hind', sans-serif;
  font-size: 16px; }

textarea {
  color: #666666; }

input, select {
  height: 34px;
  text-indent: 10px;
  border: 1px solid #acacac;
  border-radius: 0;
  background-color: #f2f2f2;
  color: #666666; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/scss/sprites/svg/icon-filter-arrow-select.svg) #f5f5f5 no-repeat right 15px bottom 50%;
  background-size: 13px 13px; }

.btn-big, .btn-primary, .btn-secondary, .btn-alternative, .btn-small, .btn-primary-small, .btn-secondary-small, .btn-alternative-small {
  background: none;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px; }
  .btn-big:hover, .btn-primary:hover, .btn-secondary:hover, .btn-alternative:hover, .btn-small:hover, .btn-primary-small:hover, .btn-secondary-small:hover, .btn-alternative-small:hover {
    cursor: pointer; }
  .btn-big:focus, .btn-primary:focus, .btn-secondary:focus, .btn-alternative:focus, .btn-small:focus, .btn-primary-small:focus, .btn-secondary-small:focus, .btn-alternative-small:focus {
    outline: 0; }

.btn-big, .btn-primary, .btn-secondary, .btn-alternative {
  min-width: 37px;
  min-height: 37px; }
  .btn-big.hover, .hover.btn-primary, .hover.btn-secondary, .hover.btn-alternative, .btn-big:hover, .btn-primary:hover, .btn-secondary:hover, .btn-alternative:hover {
    background: #B3B3B3; }
  .btn-big.down, .down.btn-primary, .down.btn-secondary, .down.btn-alternative, .btn-big:active, .btn-primary:active, .btn-secondary:active, .btn-alternative:active {
    background: #999999; }

.btn-small, .btn-primary-small, .btn-secondary-small, .btn-alternative-small {
  min-width: 24px;
  min-height: 24px; }
  .btn-small.hover, .hover.btn-primary-small, .hover.btn-secondary-small, .hover.btn-alternative-small, .btn-small:hover, .btn-primary-small:hover, .btn-secondary-small:hover, .btn-alternative-small:hover {
    background: #B3B3B3; }
  .btn-small.down, .down.btn-primary-small, .down.btn-secondary-small, .down.btn-alternative-small, .btn-small:active, .btn-primary-small:active, .btn-secondary-small:active, .btn-alternative-small:active {
    background: #999999; }

.btn-primary {
  border-color: #22b573;
  color: #22b573; }
  .btn-primary.hover, .btn-primary:hover {
    background-color: #22b573;
    border-color: #22b573;
    color: #ffffff; }
  .btn-primary.down, .btn-primary:active {
    background-color: #22b573;
    color: #ffffff; }

.btn-primary-small {
  border-color: #22b573;
  color: #22b573; }
  .btn-primary-small.hover, .btn-primary-small:hover {
    background-color: #22b573;
    border-color: #22b573;
    color: #ffffff; }
  .btn-primary-small.down, .btn-primary-small:active {
    background-color: #22b573;
    color: #ffffff; }

.btn-secondary {
  border-color: #ed1e79; }
  .btn-secondary.hover, .btn-secondary:hover {
    background-color: #CF1B69;
    border-color: #CF1B69;
    color: #ffffff; }
  .btn-secondary.down, .btn-secondary:active {
    background-color: #B51B5C;
    border-color: #B51B5C;
    color: #ffffff; }

.btn-secondary-small {
  color: #ed1e79;
  border-color: #ed1e79; }
  .btn-secondary-small.hover, .btn-secondary-small:hover {
    background-color: #CF1B69;
    border-color: #CF1B69;
    color: #ffffff; }
  .btn-secondary-small.down, .btn-secondary-small:active {
    background-color: #B51B5C;
    border-color: #B51B5C;
    color: #ffffff; }
  .btn-secondary-small.balance {
    color: #ffffff;
    border-color: #ffffff; }
    .btn-secondary-small.balance:hover {
      background-color: #222222; }
    .btn-secondary-small.balance:active {
      background-color: #0E0E0E; }

.btn-alternative {
  border-color: #29abe2;
  color: #29abe2; }
  .btn-alternative.hover, .btn-alternative:hover {
    background-color: #299ACF;
    border-color: #299ACF;
    color: #ffffff; }
  .btn-alternative.down, .btn-alternative:active {
    background-color: #2982B5;
    border-color: #2982B5;
    color: #ffffff; }

.btn-alternative-small {
  border-color: #29abe2;
  color: #29abe2; }
  .btn-alternative-small.hover, .btn-alternative-small:hover {
    background-color: #299ACF;
    border-color: #299ACF;
    color: #ffffff; }
  .btn-alternative-small.down, .btn-alternative-small:active {
    background-color: #2982B5;
    border-color: #2982B5;
    color: #ffffff; }

.table-information .btn-alternative-small {
  float: left;
  font-size: 13px;
  line-height: 24px;
  margin: 3px 10px 7px 0;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Hind', sans-serif; }
  .table-information .btn-alternative-small .fa-print {
    font-size: 12px;
    vertical-align: middle;
    padding-right: 7px;
    margin-top: -2px; }

.icon-green-plus:before {
  content: '';
  width: 17px;
  height: 17px;
  background-position: -64px -71px; }

.icon-red-plus:before {
  content: '';
  width: 17px;
  height: 17px;
  background-position: -47px -71px; }

.icon-white-plus:before {
  content: '';
  width: 17px;
  height: 17px;
  background-position: -30px -71px; }

.icon-white-tick:before {
  content: '';
  width: 18px;
  height: 14px;
  background-position: -54px -48px; }

.icon-dash-red:before {
  content: '';
  width: 17px;
  height: 1px;
  background-position: -89px -48px; }

.icon-dash-white:before {
  content: '';
  width: 17px;
  height: 1px;
  background-position: -72px -48px; }

.icon-dropdown-dark:before {
  content: '';
  width: 13px;
  height: 7px;
  background-position: -85px -49px; }

.icon-filter-arrow-table:before {
  content: '';
  width: 10px;
  height: 8px;
  background-position: -54px -62px; }

.icon-filter-arrow-select:before {
  content: '';
  width: 13px;
  height: 10px;
  background-position: -72px -49px; }

.icon-notification-cross:before {
  content: '';
  width: 28px;
  height: 28px;
  background-position: 0px -98px; }

.icon-notification-exclamation:before {
  content: '';
  width: 30px;
  height: 27px;
  background-position: 0px -71px; }

.icon-notification-tick:before {
  content: '';
  width: 32px;
  height: 23px;
  background-position: 0px -48px; }

.field-holder {
  font-family: 'Hind', sans-serif;
  position: relative; }

.validation {
  display: none;
  position: absolute;
  color: yellow;
  right: 0;
  top: 100%;
  font-size: 12px;
  font-weight: 500; }

.field-holder.validation-error input {
  border-color: #ed1e79;
  color: #ed1e79; }
.field-holder.validation-error .validation {
  display: inline-block;
  color: #ed1e79; }

.modal-on body {
  overflow: hidden; }
@media screen and (max-width: 1024px) {
  .modal-on {
    overflow: hidden; }
    .modal-on body {
      left: 0;
      position: fixed;
      top: 0; } }

.modal-context {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500; }

.modal-container {
  margin: 100px auto 0;
  max-width: 600px;
  padding: 20px 0;
  position: relative;
  width: 1160px; }
  @media screen and (max-width: 1200px) {
    .modal-container {
      margin: 100px auto 0;
      width: auto; } }

.modal-title {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  font-weight: 500;
  padding: 40px 0 0 50px;
  font-size: 22px;
  font-family: 'Hind', sans-serif; }

.modal-content {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 20px 50px; }

.modal-close {
  background: url('/scss/sprites/svg/icon-cross-red.svg') no-repeat center;
  border: 0;
  color: #333;
  cursor: pointer;
  height: 21px;
  position: absolute;
  right: 40px;
  text-align: center;
  top: 60px;
  width: 21px; }
  .modal-close:hover {
    color: #000; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  font-size: 14px;
  min-width: 900px; }
  body > .page-frame {
    margin-bottom: 100px; }

.page-frame {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }

.page-header {
  background: #000000;
  text-align: center;
  height: 60px;
  min-width: 1000px; }
  .page-header .logo {
    width: 185px;
    margin: 0 auto;
    padding-top: 7px;
    display: block; }
    .page-header .logo img {
      width: 185px;
      margin-left: -3px;
      margin-right: 2px; }
  .page-header .btn-secondary-small {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -44px;
    color: #ffffff;
    border-color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lora', serif; }

.user-greeting {
  color: #ffffff;
  float: left;
  line-height: 20px;
  padding-top: 19px;
  margin: 0;
  font-size: 16px; }
  .user-greeting span {
    display: inline-block;
    overflow: hidden; }
  .user-greeting .user-name {
    max-width: 15ch;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .user-greeting a {
    text-decoration: none;
    color: #ed1e79; }

.page-sub-header {
  min-width: 1000px;
  height: 41px;
  border-bottom: 1px solid #B3B3B3; }

.site-navigation {
  float: left;
  font-size: 16px;
  margin-top: 12px;
  position: relative; }
  .site-navigation .nav-item {
    display: inline-block;
    font-weight: bold;
    max-width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding-left: 28px;
    padding-right: 19px;
    text-decoration: none;
    color: #000000; }
    .site-navigation .nav-item:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      border-left: 1px solid #000000;
      border-right: 1px solid #000000;
      width: 2px;
      height: 8px;
      top: 50%;
      margin-top: -4px; }
    .site-navigation .nav-item:last-child {
      padding-right: 30px; }
      .site-navigation .nav-item:last-child:after {
        content: '';
        position: absolute;
        right: 0;
        top: 6px;
        display: block;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        width: 2px;
        height: 7px; }
    .site-navigation .nav-item:hover, .site-navigation .nav-item:active {
      color: #29abe2; }
  .site-navigation .btn-small.dropdown:after, .site-navigation .dropdown.btn-primary-small:after, .site-navigation .dropdown.btn-secondary-small:after, .site-navigation .dropdown.btn-alternative-small:after {
    content: '';
    position: absolute;
    right: -22px;
    top: 6px;
    display: block;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    width: 2px;
    height: 7px; }

.site-navigation.extended .nav-item {
  color: #29abe2; }
.site-navigation.extended .nav-item:hover, .site-navigation.extended .nav-item:active, .site-navigation.extended .nav-item.open {
  color: #000000; }
.site-navigation.extended .btn-small.dropdown, .site-navigation.extended .dropdown.btn-primary-small, .site-navigation.extended .dropdown.btn-secondary-small, .site-navigation.extended .dropdown.btn-alternative-small {
  margin-top: -4px; }

.time-and-date {
  float: right; }

.time-left, .selected-date, .current-date {
  color: #4D4D4D;
  display: inline-block;
  position: relative;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 15px;
  margin: 7px 0 0; }
  .time-left strong, .selected-date strong, .current-date strong {
    color: #000000; }

.time-left:before, .selected-date:before {
  content: '';
  position: absolute;
  left: -4px;
  top: 11px;
  display: block;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 2px;
  height: 7px; }

.time-left {
  margin-right: 5px; }
  .time-left:before {
    content: none; }

.selected-date, .current-date {
  font-size: 22px;
  margin-right: -2px; }
  .selected-date sup, .current-date sup {
    font-size: 13px; }

.btn-small.dropdown, .dropdown.btn-primary-small, .dropdown.btn-secondary-small, .dropdown.btn-alternative-small {
  width: 26px;
  height: 26px;
  float: right;
  margin-top: 8px;
  padding-left: 6px;
  border-color: #999999; }
  .btn-small.dropdown:hover .icon-dropdown-dark:before, .dropdown.btn-primary-small:hover .icon-dropdown-dark:before, .dropdown.btn-secondary-small:hover .icon-dropdown-dark:before, .dropdown.btn-alternative-small:hover .icon-dropdown-dark:before {
    width: 13px;
    height: 7px;
    background-position: -98px -49px; }

.upcoming-restaurants-wrapper {
  margin: 0 20px 0 0;
  padding: 0;
  position: absolute;
  right: -19px;
  top: 29px;
  z-index: 5;
  display: none; }
  .upcoming-restaurants-wrapper.open {
    display: block; }

.upcoming-restaurants {
  list-style-type: none;
  background: #ffffff;
  margin: 0;
  padding: 0; }

.upcoming-restaurant-info {
  font-size: 16px;
  border: 1px solid #B3B3B3;
  border-top: none;
  padding: 15px 20px 0 20px;
  min-height: 95px;
  vertical-align: middle;
  white-space: nowrap; }
  .upcoming-restaurant-info:first-child {
    border-top: 1px solid #cccccc; }
  .upcoming-restaurant-info p {
    padding-left: 5px;
    font-size: 18px;
    color: #000000;
    margin: 0 0 5px; }
  .upcoming-restaurant-info ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    display: inline-block; }
  .upcoming-restaurant-info a {
    clear: both;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    font-family: 'Hind', sans-serif;
    color: #ed1e79;
    text-decoration: none;
    display: inline-block;
    line-height: 18px; }

.restaurant-info {
  float: left;
  font-size: 16px; }
  .restaurant-info h1 {
    font-family: 'Hind Semibold', sans-serif;
    font-size: 24px;
    margin: 0;
    letter-spacing: -0.5px; }
  .restaurant-info p {
    margin: 0; }
    .restaurant-info p:last-child {
      margin-top: 6px; }

.notification {
  border: 1px solid #ed1e79;
  position: relative;
  float: left; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.ie9 .loader:after {
  background: none;
  color: #B51B5C;
  content: 'Loading';
  line-height: 1;
  opacity: 1;
  width: auto; }

.loader {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 1px 0 #ccc;
  height: 200px;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  position: fixed;
  top: 50%;
  width: 200px;
  z-index: 2; }
  .loader:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 5px solid #B51B5C;
    border-bottom-color: transparent;
    -webkit-animation: spin .5s infinite linear;
    -moz-animation: spin .5s infinite linear;
    animation: spin .5s infinite linear;
    transform-origin: 50% 50%;
    border-radius: 50%;
    content: '';
    height: 80px;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    width: 80px; }
  .ie9 .loader:after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    margin-top: 50px;
    position: absolute;
    top: 50%; }

.nav-item.down {
  color: #29abe2; }

.upcoming-restaurants-wrapper.home {
  right: 0;
  top: 41px; }

.restaurant-and-payment-info {
  margin-top: 37px;
  font-size: 16px; }

.amount-due {
  float: right; }
  .amount-due .month-total {
    float: right;
    clear: both;
    margin: 0 0 5px;
    letter-spacing: 0.2px; }
    .amount-due .month-total strong {
      font-size: 30px; }
  .amount-due hr {
    clear: both;
    width: 90px;
    float: right;
    margin: 3px 0; }
  .amount-due .today-total {
    float: right;
    clear: both;
    margin: 11px 2px 0 0; }
    .amount-due .today-total span {
      font-size: 12px;
      letter-spacing: 0.7px;
      font-style: italic; }
    .amount-due .today-total strong {
      font-size: 18px;
      letter-spacing: -0.5; }

.notification.kitchen-closed {
  display: none;
  margin-top: 46px;
  margin-bottom: -41px;
  height: 54px;
  width: 978px; }
  .notification.kitchen-closed.open {
    display: block; }
  .notification.kitchen-closed p {
    float: left;
    clear: left;
    padding: 0 0 0 15px;
    letter-spacing: -0.3px;
    color: #ed1e79;
    margin: 0;
    vertical-align: middle;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .notification.kitchen-closed p:last-child {
      padding-top: 0;
      letter-spacing: -0.2; }
  .notification.kitchen-closed .btn-big, .notification.kitchen-closed .btn-primary, .notification.kitchen-closed .btn-secondary, .notification.kitchen-closed .btn-alternative {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: #ed1e79;
    padding: 0 13px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.menu-table {
  margin-top: 57px; }
  .menu-table .table-headings th:first-child span {
    padding-left: 0; }
  .menu-table .select.item {
    width: 165px;
    height: 36px;
    color: #666666;
    text-indent: 10px;
    font-size: 16px;
    font-family: 'Hind', sans-serif; }
  .menu-table .data-price {
    font-family: 'Lora', serif;
    font-weight: 400; }

.no-time .time-left, .no-time .time-left strong {
  color: #ed1e79; }

.login {
  background-color: #000000; }

.login-form .logo {
  width: 240px;
  margin-bottom: 5px; }
  .login-form .logo img {
    width: 100%; }

.logo {
  display: inline-block; }

.login-form {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 271px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%; }
  .login-form input {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    color: #f2f2f2;
    background: none;
    border: 1px solid #666666;
    height: 33px;
    width: 213px;
    text-indent: 17px;
    padding-right: 56px;
    letter-spacing: 0.5px;
    /* firefox 19+ */
    /* ie */
    /* FF 4-18 */
    /* FF 19+ */
    /* IE 10+ */ }
    .login-form input::-webkit-input-placeholder {
      font-style: italic;
      color: #666666; }
    .login-form input::-moz-placeholder {
      font-style: italic;
      color: #666666; }
    .login-form input:-ms-input-placeholder {
      font-style: italic;
      color: #666666; }
    .login-form input:-moz-placeholder {
      font-style: italic;
      color: #666666; }
    .login-form input:focus::-webkit-input-placeholder {
      color: transparent; }
    .login-form input:focus:-moz-placeholder {
      color: transparent; }
    .login-form input:focus::-moz-placeholder {
      color: transparent; }
    .login-form input:focus:-ms-input-placeholder {
      color: transparent; }
    .login-form input:focus {
      outline: none; }
  .login-form .login-username {
    background: url("/content/styles/images/icon-login-user.svg") no-repeat center right;
    background-size: 15px 23px;
    background-position: 244px 7px;
    margin-top: 18px; }
  .login-form .login-password {
    background: url("/content/styles/images/icon-login-password.svg") no-repeat center right;
    background-size: 13px 22px;
    background-position: 245px 7px;
    margin-top: 20px; }
  .login-form .btn-big.btn-login, .login-form .btn-login.btn-primary, .login-form .btn-login.btn-secondary, .login-form .btn-login.btn-alternative {
    font-family: 'Lora', serif;
    background: #ffffff;
    margin-top: 35px;
    padding: 9px 48px; }

.field-holder.validation-error .login-username {
  background-image: url("/content/styles/images/icon-login-user-red.svg"); }
.field-holder.validation-error .login-password {
  background-image: url("/content/styles/images/icon-login-password-red.svg"); }

h1 {
  margin: 50px 0 0;
  font-size: 24px;
  font-family: 'Hind', sans-serif; }

.late-requests-table {
  margin-top: 20px; }
  .late-requests-table .table-headings {
    text-align: left;
    text-transform: uppercase; }
    .late-requests-table .table-headings span {
      padding-left: 10px; }
  .late-requests-table .heading-align-center {
    text-align: center; }
    .late-requests-table .heading-align-center span {
      padding: 0; }
  .late-requests-table tbody td span {
    color: #5D5D5D; }
  .late-requests-table tbody td a {
    color: #29abe2;
    text-decoration: none;
    font-family: 'Hind', sans-serif; }
  .late-requests-table tbody .data-price span {
    color: #000000; }
  .late-requests-table tbody .data-item {
    text-align: left; }
    .late-requests-table tbody .data-item a {
      font-size: 16px;
      clear: left;
      float: left;
      height: 22px; }
  .late-requests-table .btn-primary {
    font-size: 14px;
    min-width: 111px; }
    .late-requests-table .btn-primary .icon-white-tick {
      padding-right: 6px; }

.restaurant-info-editable {
  margin: 37px 0 15px;
  float: left; }
  .restaurant-info-editable h1 {
    margin: 0; }
  .restaurant-info-editable p {
    font-size: 16px;
    margin: 5px 0 7px; }
    .restaurant-info-editable p:last-child {
      margin-top: 0; }

.edit-restaurant-info {
  float: left;
  padding: 2px 13px;
  margin: 42px 0 0 17px;
  text-transform: uppercase;
  font-size: 14px; }

.restaurant-info-editable.hidden {
  display: none; }

.restaurant-info-presentation {
  display: none; }

.restaurants-info-edit-fields {
  display: none;
  margin: 55px 0 35px;
  float: left; }
  .restaurants-info-edit-fields.open {
    display: block; }
  .restaurants-info-edit-fields input, .restaurants-info-edit-fields textarea {
    background-color: #f2f2f2;
    border: 1px solid #acacac;
    width: 420px;
    height: 36px;
    float: left;
    clear: left;
    margin: 10px 0;
    text-indent: 15px;
    font-family: 'Lora', serif; }
  .restaurants-info-edit-fields textarea {
    height: 80px;
    resize: none;
    padding: 18px 15px 12px;
    width: 390px;
    text-indent: 0; }
  .restaurants-info-edit-fields submit, .restaurants-info-edit-fields a {
    font-family: 'Hind', sans-serif;
    font-size: 14px; }
  .restaurants-info-edit-fields submit {
    float: left;
    clear: left;
    height: 36px;
    width: 82px;
    background-color: #39B54A;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    margin-right: 26px; }
  .restaurants-info-edit-fields a {
    float: left;
    text-decoration: none;
    color: #29abe2;
    margin-top: 9px; }

.menu-items-table tbody tr td:last-child {
  text-align: right;
  padding-right: 5px; }
.menu-items-table .option.one, .menu-items-table .option.two {
  text-align: left;
  margin: 0;
  text-indent: 15px; }
.menu-items-table .btn-primary {
  float: left;
  margin-left: 28px; }
.menu-items-table .btn-secondary {
  float: right;
  font-size: 1px;
  margin-right: -5px; }
.menu-items-table .input.item-name {
  width: 815px;
  float: left; }
.menu-items-table .input.item-price {
  width: 75px; }

.btn-primary.add-course {
  float: left;
  clear: both;
  margin-top: 25px; }

.popup-wrapper {
  width: 600px;
  position: relative;
  padding-left: 30px; }

.course-form {
  width: 499px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Hind', sans-serif; }
  .course-form #course-name {
    width: 395px; }
  .course-form #course-price, .course-form #course-option-price {
    width: 98px; }
  .course-form #course-option-name {
    width: 283px; }
  .course-form .course-option-name-wrapper, .course-form .course-option-price-wrapper {
    float: left; }
  .course-form .course-option-price-wrapper {
    margin-left: 12px; }
  .course-form .course-option-wrapper:last-child {
    margin-bottom: 40px; }
  .course-form .course-option-wrapper button {
    margin-left: 13px;
    margin-top: 53px; }
    .course-form .course-option-wrapper button.btn-primary {
      margin-left: 7px; }
  .course-form .course-option-wrapper i {
    vertical-align: middle; }
  .course-form .course-option-wrapper .icon-dash-red {
    font-size: 1px; }
  .course-form .course-option-wrapper .icon-green-plus {
    font-size: 17px; }
  .course-form submit, .course-form a {
    font-size: 14px; }
  .course-form submit {
    background-color: #22b573;
    color: #ffffff;
    padding: 0 18px;
    display: inline-block;
    line-height: 36px;
    margin: 40px 25px 30px 0; }
  .course-form a {
    text-decoration: none;
    color: #29abe2; }

.table-information {
  margin-top: 50px;
  position: relative; }
  .table-information h1 {
    float: left;
    margin: 0 15px 0 0;
    font-size: 22px;
    font-weight: 500; }
  .table-information .current-date {
    float: right;
    font-family: 'Lora', serif;
    color: #000000; }

.orders-table .btn-secondary, .orders-table .btn-primary {
  font-size: 1px;
  float: left; }
.orders-table .guest-name {
  position: absolute;
  text-align: left;
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
.orders-table .select.restaurant, .orders-table .select.item {
  background-color: #f5f5f5;
  border: 1px solid #B3B3B3; }

.data-item {
  text-align: left; }

.first-item, .second-item {
  float: left;
  clear: left;
  padding: 0 25px; }

.add-order {
  float: left;
  margin-top: 30px;
  padding: 0 15px; }

hr {
  width: 90px;
  float: right;
  margin: 30px 0 10px; }

.total-price {
  clear: right;
  float: right;
  font-size: 18px;
  margin: 0;
  font-family: 'Lora', serif; }
  .total-price strong {
    font-size: 20px;
    font-weight: 600; }

.additional-order-form input {
  width: 393px; }
.additional-order-form select {
  width: 395px; }
.additional-order-form .add-additional-course {
  margin: 30px 0 0;
  float: left;
  font-size: 14px;
  padding: 0 19px;
  line-height: 32px; }
  .additional-order-form .add-additional-course i {
    margin: 0 10px 0 0; }
.additional-order-form submit, .additional-order-form a {
  float: left;
  font-family: 'Hind', sans-serif;
  line-height: 36px;
  margin-top: 30px;
  font-size: 14px; }
.additional-order-form submit {
  background-color: #22b573;
  color: #ffffff;
  padding: 0 25px;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 30px;
  clear: left; }
.additional-order-form a {
  text-decoration: none;
  color: #29abe2; }

.course-wrapper {
  width: 500px; }
  .course-wrapper button {
    margin-left: 13px; }
    .course-wrapper button.btn-primary {
      margin-left: 7px; }

.guest-option-wrapper .guest-option-name-wrapper {
  float: left; }
.guest-option-wrapper .btn-primary, .guest-option-wrapper .btn-secondary {
  font-size: 1px;
  margin-top: 50px;
  display: block;
  float: left; }
.guest-option-wrapper .btn-primary {
  margin-left: 13px; }

.table-information.print-for-users {
  margin: 50px 0 30px; }

.table-information.totals-print {
  margin: 30px 0 50px; }

.table-information .logo {
  width: 187px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.orders-table.print-for-users .guest-name {
  left: 0; }
.orders-table.print-for-users th {
  text-align: left; }
.orders-table.print-for-users .heading-align-center {
  text-align: center; }
.orders-table.print-for-users tr td:before {
  content: none; }
.orders-table.print-for-users .first-item, .orders-table.print-for-users .second-item {
  padding: 0; }

h1.print-for-restaurant {
  float: left; }

.orders-table.print-for-restaurant {
  font-family: 'Hind', sans-serif;
  font-weight: 500; }
  .orders-table.print-for-restaurant tr {
    min-height: 38px; }
    .orders-table.print-for-restaurant tr td {
      padding: 7px 0; }
    .orders-table.print-for-restaurant tr td:before {
      content: none; }
  .orders-table.print-for-restaurant .course-extra {
    border-top: none;
    border-bottom: none; }
    .orders-table.print-for-restaurant .course-extra td:first-child {
      text-indent: 30px; }

.small-square-box {
  width: 12px;
  height: 12px;
  border-radius: 0;
  margin: 0 auto;
  border: 1px solid black; }

.totals-table.totals-print {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  font-size: 16px; }
  .totals-table.totals-print tr {
    min-height: 38px; }
    .totals-table.totals-print tr td {
      padding: 7px 0; }
    .totals-table.totals-print tr td:before {
      content: none; }
    .totals-table.totals-print tr .data-price span {
      font-weight: 500; }

.total-price.totals-print {
  font-family: 'Hind', sans-serif; }
  .total-price.totals-print strong {
    font-weight: 500; }

.totals-table td:last-child .btn-primary {
  width: 80px;
  float: right;
  font-size: 14px; }
.totals-table .icon-white-tick {
  margin-right: 5px; }

.restaurant-selection-wrapper {
  font-size: 0; }
  .restaurant-selection-wrapper tr {
    display: inline-block;
    border: 1px solid #B3B3B3;
    position: relative; }
    .restaurant-selection-wrapper tr td {
      position: relative;
      text-align: left;
      width: 198px;
      min-height: 153px;
      border-left: 1px solid #999999;
      padding-bottom: 48px; }
      .restaurant-selection-wrapper tr td:first-child {
        border-left: none; }
      .restaurant-selection-wrapper tr td:before {
        content: none; }
      .restaurant-selection-wrapper tr td select {
        position: absolute;
        bottom: 12px;
        margin-left: 20px;
        height: 36px;
        background-color: #f5f5f5;
        border: 1px solid #acacac;
        width: 165px;
        font-size: 16px;
        text-indent: 10px; }
    .restaurant-selection-wrapper tr p {
      padding-left: 20px;
      font-size: 16px;
      margin: 8px 0; }
    .restaurant-selection-wrapper tr .restaurant-link {
      color: #ed1e79;
      text-decoration: none; }
    .restaurant-selection-wrapper tr ul {
      list-style-type: none;
      padding-left: 20px;
      color: #ed1e79;
      font-family: 'Hind', sans-serif;
      font-size: 16px;
      margin: 0 0 20px 0;
      line-height: 22px; }
      .restaurant-selection-wrapper tr ul .btn-secondary-small {
        width: 14px;
        height: 14px;
        font-size: 0;
        min-width: 0;
        min-height: 0;
        border-radius: 0;
        position: relative;
        float: right;
        margin-right: 10px; }
        .restaurant-selection-wrapper tr ul .btn-secondary-small i {
          position: absolute;
          right: 50%;
          -webkit-transform: translateX(50%);
          -moz-transform: translateX(50%);
          -ms-transform: translateX(50%);
          -o-transform: translateX(50%);
          transform: translateX(50%); }
        .restaurant-selection-wrapper tr ul .btn-secondary-small i:before {
          width: 6px; }
    .restaurant-selection-wrapper tr select {
      margin-left: 20px;
      height: 36px;
      background-color: #f5f5f5;
      border: 1px solid #acacac;
      width: 148px;
      font-size: 16px;
      text-indent: 10px; }

.add-restaurant {
  margin-top: 30px;
  padding: 0 10px; }
  .add-restaurant i {
    padding: 0 5px; }

.notifications {
  float: left;
  clear: left; }
  .notifications h1 {
    margin-top: 25px; }

.notifications.global .notification, .notifications.popup .notification, .notifications.input .notification {
  border: none;
  min-height: 72px;
  width: 100%;
  color: #ffffff;
  margin-top: 25px; }
  .notifications.global .notification p, .notifications.popup .notification p, .notifications.input .notification p {
    padding-left: 64px;
    line-height: 22px; }
  .notifications.global .notification i, .notifications.popup .notification i, .notifications.input .notification i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 18px; }

.notification.error {
  background-color: #ed1e79; }
.notification.warning {
  background-color: #FBB03B; }
.notification.success {
  background-color: #39B54A; }

.dark-background-wrapper {
  background-color: #4D4D4D;
  width: 685px;
  height: 281px;
  float: left;
  margin-top: 25px;
  position: relative; }
  .dark-background-wrapper .deletion-confirmation {
    width: 600px;
    min-height: 188px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -300px; }
    .dark-background-wrapper .deletion-confirmation p {
      color: #000000;
      font-size: 18px;
      font-family: 'Hind', sans-serif;
      font-weight: 500;
      padding: 0 280px 0 50px; }
    .dark-background-wrapper .deletion-confirmation a {
      text-decoration: none;
      color: #29abe2;
      font-family: 'Hind', sans-serif; }
    .dark-background-wrapper .deletion-confirmation .btn-secondary {
      margin: 0 30px 0 50px;
      color: #ffffff;
      background-color: #ed1e79;
      padding: 4px 19px; }

.input-notification-wrapper label {
  display: block;
  font-weight: 500; }
.input-notification-wrapper input {
  background-color: #f2f2f2;
  width: 397px;
  height: 36px;
  float: left; }

.list-of-pages {
  font-family: 'Hind', sans-serif; }
  .list-of-pages h1 {
    padding-left: 20px; }
  .list-of-pages ul {
    font-size: 20px;
    list-style-type: none;
    padding-left: 20px; }
    .list-of-pages ul li {
      line-height: 30px;
      border-bottom: 1px solid #acacac;
      margin-bottom: 5px;
      margin-right: 20px; }
      .list-of-pages ul li:last-child {
        border-bottom: none; }
    .list-of-pages ul ul {
      margin-left: 30px;
      padding: 0;
      list-style-type: square; }
      .list-of-pages ul ul li {
        border-bottom: none; }
  .list-of-pages a {
    text-decoration: none; }

.sitemap-legend {
  font-size: 15px; }
  .sitemap-legend div {
    float: left;
    margin: 10px 20px 0; }

.fa-square.red, a.red {
  color: #ed1e79; }
.fa-square.green, a.green {
  color: #23CF88; }
.fa-square.blue, a.blue {
  color: #29abe2; }


/*# sourceMappingURL=site-styles.css.map */